.container{
    background-color: rgb(47, 0, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.input-padrao{
    width: 250px;
    border-radius: 5px;
    color: #fff;
    margin-top: 15px;
}

.label{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
}

.titulo{
    font-size: 30px;
    color: #fff;
}

.botao{
    width: 100px;
    height: 50px;
    margin-top: 20px;
}