    <%- include('./layouts/header.ejs', {titulo: 'Acesse o Sistema'}) %>
    <div class="container">
        <h1 class="titulo">Login</h1>
        <form action="/auth/login" method="post" class="cardFormulario">
            <div>
                <label class="label" for="email">E-mail:</label>
                <input type="text" name="email" class="input-padrao" placeholder="Ex: meuEmail@gmail.com" required>
            </div>
            <div>
                <label class="label">Senha:</label>
                <input type="password" name="senha" class="input-padrao" placeholder="Ex: 12345678" required>
            </div>
            <button type="submit" class="botao">Entrar</button>
        </form>
    </div>
    <%- include('./layouts/footer.ejs', {titulo: 'Acesse o Sistema'}) %>